/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
.main{padding-top:3%;}
.row{padding: 2% 0;}
.green{background-color:#7accc8;}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––– */

/* Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––– */
header.main_nav{
	padding: 1% 0;
	display: block;
}

/* Images & Media
–––––––––––––––––––––––––––––––––––––––––––––– */

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */
